body {
    background-color: black;
}
h1{
    color: red;
    font-family: fantasy;
    font-size: 54px;
}
p {
    color: white;
}

.p2{
    font-size: 19px;

}
ul{
    color: white;
}
#title{
    float:left;
}
#mainContent{
    float:left;
}
#video{
    float:left;
    display:block;
    background-color: aqua;
    height: 300px;
    width: 500px;
    margin-left:20px;
    margin-top:20px;
}